/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    background-image:"https://media.istockphoto.com/id/1449501412/vector/baseball-ball-vector-illustration.jpg?s=612x612&w=0&k=20&c=nYwDttd1C9zB26Ajam9DQRFIbav0CBBTMgiuFwEQvLc=";
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: fixed;
    display:flex;
  }
  
  /* Expanding image text */
  #imgtext {
    position: fixed;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position:fixed;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  