/* General body style */
body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #efecec; /* Light background */
    padding: 10px;

}

/* Custom form style */
.custom-form {
    background-color: #efecec; /* White background for form */
    border: 1px solid #790101;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #413939(59, 54, 54, 0.856);
    padding: 10px;
}

/* Styling form labels */
.form-label {
    font-weight: bold;
    color: #790101; /* Darker label text */
}

/* Input field styles */
.form-control {
    border: 1px solid #790101;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
}

/* Button styling */
.btn-primary {
    background-color: #aa0606; /* Bootstrap blue */
    border-color: #aa0606;
    padding: 10px;
    margin-bottom: 20px;

}

.btn-primary:hover {
    background-color: #790101; /* Darker on hover */
    border-color: #790101;
}

/* Title style */
h4 {
    color: #efecec;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 20px; /* Rounded corners */
}

/* Custom styles for the card */
.card {
    background-color: #790101; 
    border-radius: 20px; 
}

.card-header {
    background-color: #790101; 
    padding: 10px;
    border-radius: 20px !important; /* Rounded corners */
}

.card-body {
    padding: 30px;
    border-radius: 20px !important; /* Rounded corners */
}

.navbar-logo {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    padding: 20px;  /* Optional padding around the logo */
    width: 100%; /* Ensures the link takes the full width of its container */
    margin-top: -15px;
  }
  
  /* Style for the logo image */
  .logo {
    width: 100px;  /* Adjust width to make it smaller */
    max-height: 100px; /* Limits height to keep it proportional */
    object-fit: contain; /* Ensures logo fits within bounds without distortion */
    margin-top: -15px;
  }